* {
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

body {
  margin: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #001d3d;
  padding: 0 5%;
}

.navbarlist {
  float: right;
}

.navbarlist a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbarlist a:hover {
  background-color: #111;
}

.wrapper {
  display: block;
  position: relative;
  background-color: black;
  width: 100%;
  height: calc(100vh - 52px);
  overflow: hidden;
}
.wrapper:before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("https://iittp.ac.in/pics/transitcampus/Electrical/ElectricalMachines1/Electrical%20Machines%20and%20Drives%20Lab4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.welcomeTextBg {
  display: block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0px 80px;
}
.welcomeTextPo {
  position: relative;
  height: 80px;
}
.welcomeText {
  position: relative;
  text-align: center;
  font-size: 64px;
  color: rgb(255, 255, 255);
  padding-top: 10px;
}

.description {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 36px;
}

.buttonArea {
  position: relative;
  color: rgb(255, 255, 255);
  margin-bottom: 100px;
}

.startButton {
  background-color: #ffc300;
  border: none;
  border-radius: 10px;
  color: black;
  padding: 10px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  font-weight: bolder;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

.blackground {
  position: absolute;
  top: 52px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 52px);
  overflow: auto;
}

.blackground-0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 52px);
  overflow: auto;
}

.registerPage {
  position: relative;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #fff1e6;
  width: 600px;
  margin-bottom: 30px;
  padding: 20px 40px 30px 40px;
  box-shadow: rgba(0, 0, 0, 0.199) 2px 2px 2px 2px;
}

.registerPage.active {
  display: block;
}

.registerPage.active {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.registerTitle {
  text-align: center;
  font-size: 42px;
}

input {
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  margin: 8px 0 3px 0;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 4px;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

form > span {
  display: block;
}

.closeRegisterPage {
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.3;
  color: black;
}

.closeRegisterPage:hover {
  opacity: 1;
}

.closeRegisterPage:before,
.closeRegisterPage:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
}

.registerPopup {
  font-size: 20px;
}

.registerButtonArea {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.registerButton {
  border: none;
  background-color: #bcd4e6;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  padding: 5px 50px;
}

.registerButton:hover {
  cursor: pointer;
  border: none;
  color: black;
  background-color: #99c1de;
}

.closeLoginPage {
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.3;
}

.closeLoginPage:hover {
  opacity: 1;
}

.closeLoginPage:before,
.closeLoginPage:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
}

.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.loginPage {
  display: block;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff1e6;
  padding: 20px 40px 30px 40px;
  width: 600px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.199) 2px 2px 2px 2px;
}

.loginPage.active {
  display: block;
}

.loginPage.active {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.loginTitle {
  text-align: center;
  font-size: 48px;
}

.loginPopup {
  font-size: 20px;
}

.loginButtonArea {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.loginButton {
  border: none;
  background-color: #bcd4e6;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  padding: 5px 50px;
}

.loginButton:hover {
  cursor: pointer;
  border: none;
  color: black;
  background-color: #99c1de;
}
.loginToRegister {
  text-align: right;
}
.text1 {
  display: inline;
}
.text2 {
  display: inline;
  color: black;
  text-decoration: underline;
}
.text2:hover {
  font-weight: bold;
}

.spanValidation {
  font-size: 16px;
  color: crimson;
}

.divValidation {
  font-size: 16px;
  color: crimson;
}

.divValidation > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.spanSpace {
  top: 0px;
  height: 20px;
  display: flex;
  align-items: flex-start;
}

.bgBlur {
  display: flex;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
