<!DOCTYPE html>
<html lang="en">

<head>
    <title>Software Studio</title>
    <link rel="stylesheet" href="/css/adminSidebar.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <ul class="navbar">
        <li class="navbarlist"><a class="active" href="#home">Home</a></li>
        <li class="navbarlist"><a href="#news">News</a></li>
        <li class="navbarlist"><a href="#contact">Contact</a></li>
        <li class="navbarlist"><a href="#about">About</a></li>
    </ul>

    <div class="column side">
        <h2 class="username">GGWP_first</h2>
        <ul class="sidebar">
            <li class="sidebarlist">
                <a>หน้าหลัก</a>
            </li>
            <li class="sidebarlist"><a>จัดการอุปกรณ์</a></li>
            <li class="sidebarlist"><a>จัดการ Blacklist</a></li>

        </ul>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>