@{
    Layout = "_AdminLayout";
}
<div class="page2_content">
    <p class="section_txt">ห้องปฏิบัติการ</p>
    <div class="select_room_page2">
        <button>ห้องที่ 1</button>
        <button>ห้องที่ 2</button>
        <button>ห้องที่ 3</button>
        <button>ห้องที่ 4</button>
    </div>
    <div class="section_header_row">
            <p class='section_txt'>จัดการอุปกรณ์</p>
            <div class="tooltip">
                <button>i</button>
                <span class="tooltiptext">Hold to delete</span>
            </div>
        </div>
    <div class="tool_zone">
        <div class="toolcard">
            <button class="increasebtn">+</button>
            <button class="decreasebtn">-</button>
            <div class="imgcontainer"><img class="toolimg" src="/img/weed.png"></div>
            <div class="tooltext">
                <p class="toolname">Weed</p>
                <p class="toolquantity">20</p>
            </div>
        </div>
        <div class="toolcard">
            <button class="increasebtn">+</button>
            <button class="decreasebtn">-</button>
            <div class="imgcontainer"><img class="toolimg" src="/img/weed.png"></div>
            <div class="tooltext">
                <p class="toolname">Weed</p>
                <p class="toolquantity">20</p>
            </div>
        </div>
        <div class="toolcard">
            <button class="increasebtn">+</button>
            <button class="decreasebtn">-</button>
            <div class="imgcontainer"><img class="toolimg" src="/img/weed.png"></div>
            <div class="tooltext">
                <p class="toolname">Weed</p>
                <p class="toolquantity">20</p>
            </div>
        </div>
        <div class="toolcard">
            <button class="increasebtn">+</button>
            <button class="decreasebtn">-</button>
            <div class="imgcontainer"><img class="toolimg" src="/img/weed.png"></div>
            <div class="tooltext">
                <p class="toolname">Weed</p>
                <p class="toolquantity">20</p>
            </div>
        </div>
        <div class="toolcard">
            <button class="increasebtn">+</button>
            <button class="decreasebtn">-</button>
            <div class="imgcontainer"><img class="toolimg" src="/img/weed.png"></div>
            <div class="tooltext">
                <p class="toolname">Weed</p>
                <p class="toolquantity">20</p>
            </div>
        </div>
        <div class="toolcard">
            <button class="add_tool">+ เพิ่มอุปกรณ์ใหม่</button>
        </div>
    </div>
    </div>
</div>