@{
    ViewData["Title"] = "Home Page";
    Layout = "_AdminMainPageLayout";
}

<div class="buttonArea">
    <div class="gridRow">
        <a asp-controller="SelectPage" asp-action="Index" class="textdec">
            <div class="rentBg">
                <div class="rentText">
                    จองห้อง / อุปกรณ์
                </div>
                <div>
                    <input type="image" src="/pic/rentIcon.png" ; class="rentIcon">
                </div>

            </div>
        </a>


        <div class="gridColumn">
            <a asp-controller="Booking" asp-action="Index" class="textdec">
                <div class="myRent">
                    <div class="myRentText">
                        การจองของฉัน
                    </div>
                    <div>
                        <input type="image" src="/pic/myrentIcon.png" ; class="myRentIcon">
                    </div>
                </div>
            </a>
            <a asp-controller="Neighbour" asp-action="Index" class="textdec">
                <div class="labPartner">
                    <div class="labPartnerText">
                        ห้องวิจัยข้างเคียง
                    </div>   
                    <div>
                        <input type="image" src="/pic/labPartnerIcon.png" ; class="labPartnerIcon">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<script src="/js/contactAdmin.js"></script>

<div class="contactDesc" id="contactDesc">
    
    <a class="closeContactDesc" onclick="showContactDesc()">X</a>
            
    <div class="contactTitle">
        ติดต่อแอดมินได้ที่
    </div>
    <div class="contactMaterial">
        <p>Email : puwadolLnwza@gmail.com</p>
        <p>Facebook : puwadol Lnwza</p>
        <p>Tel : 087-894-1296</p>
    </div>

</div>