@model IEnumerable<Frontend.Models.History>

@{

    Layout = "_BookingLayout";
}
@* @foreach (var item in Model)
{
    <div>@Html.DisplayFor(modelItem => item.time)</div>

} *@
<div class="column mid">
    <h3 class="date">วันที่จอง : 4/4/2021</h3>
    <div class="panel">
        <div class="content-row">
            <div class="equipment">เชิงเทียน 4</div>
            <div class="time">9.30-10.30 น.</div>
            <div class=button1>
                <div class="restore">
                    <button class="restorebtn">คืนอุปกรณ์</button>
                </div>
            </div>
            <div class=button2>
                <div class="cancel">
                    <button class="cancelbtn">ยกเลิกการจอง</button>
                </div>
            </div>


        </div>

        <div class="content-row">
            <div class="equipment">ผ้าโพกตัวพี่โต 1</div>
            <div class="time">11.30-12.30 น.</div>
            <div class=button1>
                <div class="restore">
                    <button class="restorebtn">คืนอุปกรณ์</button>
                </div>
            </div>
            <div class=button2>
                <div class="cancel">
                    <button class="cancelbtn">ยกเลิกการจอง</button>
                </div>
            </div>


        </div>

    </div>

</div>
</div>