@{
    Layout = "_BookingLayout";
}
<div class="column mid">
    <h3 class="date">วันที่จอง : 1/4/2021</h3>
    <div class="panel">
        <div class="content-row">
            <div class="equipment">เชิงเทียน 3</div>
            <div class="time">9.30-10.30 น.</div>
            <div class=button1>
                <div class="restore">
                    <button class="restorebtn">คืนอุปกรณ์</button>
                </div>
            </div>
            <div class=button2>
                <div class="overdue">
                    เกินเวลา
                </div>
            </div>


        </div>

        <div class="content-row">
            <div class="equipment">เชิงเทียน 6</div>
            <div class="time">11.30-12.30 น.</div>
            <div class=button1>
                <div class="restore">
                    <button class="restorebtn">คืนอุปกรณ์</button>
                </div>
            </div>
            <div class=button2>
                <div class="overdue">
                    เกินเวลา
                </div>
            </div>


        </div>

    </div>

</div>