@{
    ViewData["Title"] = "Home Page";
    Layout = "_StartPageLayout";
}

<script src="/js/startPage.js"></script>

<div class=wrapper>
    <div class="blackground-0">
        <div class="welcomeTextPo"></div>
        <div class="welcomeTextBg">

            <div class="welcomeText">
                ยินดีต้อนรับเข้าสู่เว็ปไซต์สำหรับจองอุปกรณ์
            </div>
        </div>
        <div class="description" style="white-space: pre">

            เว็ปไซต์นี้จัดทำขึ้นสำหรับจองอุปกรณ์ห้องแลป
            ของสถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
            รายวิชา 01076025 Software Studio

        </div>
        <div class="buttonArea">
            <a asp-controller="StartPage" asp-action="Login">
                <button class="startButton" id="getStart"> เริ่มต้นใช้งาน </button>
            </a>

        </div>
    </div>

</div>