@model IEnumerable<Frontend.Models.User>

@{
    Layout = "_AdminSidebarLayout";
}



<div class="column mid">
    <h2 class="roomno">ห้องที่ 1</h2>
    <h2 class="subheader">จัดการ BLACKLIST</h2>
    <h3 class="leftcolhead">สถานะการจอง</h3>
    <div class="midcardcontent">
        <div class="listcontent">
            @foreach (var user in Model)
            {
                <div class="listelement">
                    <p class="booker">@user.firstName @user.lastName Exceed : @user.exceedCount</p>
                    @if (user.isBan)
                    {
                        <button class="bannedbutton">ปลด BAN</button>
                    }
                    else
                    {
                        <button class="canclebutton">BAN</button>
                    }
                </div>
                <hr class="solid">
            }

        </div>
    </div>
    <div class="actionbtnrow">
        <button class="canclebutton">ยกเลิก</button>
        <button class="confirmbutton">ยืนยัน</button>
    </div>
</div>