@{
    Layout = "_AdminSidebarLayout";
}



<div class="column mid">
    <h2 class="roomno">ห้องที่ 1</h2>
    <h2 class="subheader">จัดการ BLACKLIST</h2>
    <h3 class="leftcolhead">สถานะการจอง</h3>
    <div class="midcardcontent">
        <div class="listcontent">
            <div class="listelement">
                <p class="booker">SwaggyTT</p>
                <button class="canclebanbutton">ปลด BAN</button>
            </div>
            <hr class="solid">

            <div class="listelement">
                <p class="booker">SwaggyTT</p>
                <button class="canclebanbutton">ปลด BAN</button>
            </div>
            <hr class="solid">

            <div class="listelement">
                <p class="booker">SwaggyTT</p>
                <button class="canclebanbutton">ปลด BAN</button>
            </div>
            <hr class="solid">

            <div class="listelement">
                <p class="booker">SwaggyTT</p>
                <p class="cancleban">ปลด BAN แล้ว</p>
            </div>
            <hr class="solid">

            <div class="listelement">
                <p class="booker">SwaggyTT</p>
                <p class="cancleban">ปลด BAN แล้ว</p>
            </div>
            <hr class="solid">

        </div>
    </div>
    <div class="actionbtnrow">
        <button class="canclebutton">ยกเลิก</button>
        <button class="confirmbutton">ยืนยัน</button>
    </div>
</div>