@{
    Layout = "_AdminSidebarLayout";
}
<div class="column mid">
    <h2 class="roomno">ห้องที่ 1</h2>
    <h2 class="subheader">จัดการอุปกรณ์</h2>
    <div class="toolcardarea">
        <div class="toolcard">
        <button class="increasebtn">+</button>
        <button class="decreasebtn">-</button>
        <div class="imgcontainer"><img class="toolimg" src="/img/weed.png">
        </div>
        <div class="tooltext">
            <p class="toolname">Weed</p>
            <p class="toolquantity">20</p>
        </div>
    </div>
    <div class="toolcard">
        <button class="increasebtn">+</button>
        <button class="decreasebtn">-</button>
        <div class="imgcontainer"><img class="toolimg" src="/img/weed.png">
        </div>
        <div class="tooltext">
            <p class="toolname">Weed</p>
            <p class="toolquantity">20</p>
        </div>
    </div>
    <div class="toolcard">
        <button class="increasebtn">+</button>
        <button class="decreasebtn">-</button>
        <div class="imgcontainer"><img class="toolimg" src="/img/weed.png">
        </div>
        <div class="tooltext">
            <p class="toolname">Weed</p>
            <p class="toolquantity">20</p>
        </div>
    </div>
    <div class="toolcard">
        <button class="increasebtn">+</button>
        <button class="decreasebtn">-</button>
        <div class="imgcontainer"><img class="toolimg" src="/img/weed.png">
        </div>
        <div class="tooltext">
            <p class="toolname">Weed</p>
            <p class="toolquantity">20</p>
        </div>
    </div>
    <div class="actionbtnrow">
        <button class="canclebutton">ยกเลิก</button>
        <button class="confirmbutton">ยืนยัน</button>
    </div>
    </div>
</div>