@{
    ViewData["Title"] = "Home Page";
    Layout = "_AdminSidebarLayout";

}

<div class="column mid">
    <h2 class="roomno">ห้องที่ 1</h2>
    <div class="dropdownrow">
        <div class="dropdown">
            <button class="dropbtn">อุปกรณ์ : เชิงเทียน</button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">ช่วงเวลา : 9:30 - 10:30</button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>
    <div class="column even">
        <h3 class="leftcolhead">สถานะการจอง</h3>
        <div class="leftcardcontent">
            <div class="listcontent">
                <div class="listelement">
                    <p class="booker">SwaggyTT</p>
                    <button class="canclebookbutton">ยกเลิกการจอง</button>
                </div>
                <hr class="solid">

                <div class="listelement">
                    <p class="booker">SwaggyTT</p>
                    <button class="canclebookbutton">ยกเลิกการจอง</button>
                </div>
                <hr class="solid">

                <div class="listelement">
                    <p class="booker">SwaggyTT</p>
                    <button class="canclebookbutton">ยกเลิกการจอง</button>
                </div>
                <hr class="solid">

                <div class="listelement">
                    <p class="booker">SwaggyTT</p>
                    <p class="bookerstatusreturned">คืนอุปกรณ์แล้ว</p>
                </div>
                <hr class="solid">

                <div class="listelement">
                    <p class="booker">SwaggyTT</p>
                    <p class="bookerstatuscancled">ยกเลิกการจองแล้ว</p>
                </div>
                <hr class="solid">

            </div>
        </div>
    </div>
    <div class="column even">
        <h3 class="rightcolhead">ประวัติการยืมเกินเวลา</h3>
        <div class="rightcardcontent">
            <div class="listcontent">
                <div class="listelement">
                    <p class="booker">SwaggyTT</p>
                    <button class="banbutton">Ban</button>
                </div>
                <hr class="solid">

                <div class="listelement">
                    <p class="booker">SwaggyTT</p>
                    <button class="bannedbutton">Banned</button>
                </div>
                <hr class="solid">



            </div>
        </div>
    </div>
</div>
</div>
