@model dynamic

@{
    Layout = "_SelectPageLayout";
}
<div class="midcontent">
    <p class="pageheader">จองอุปกรณ์</p>
    <div class="text-divider">เลือกห้อง</div>
    <div class="listbutton">
        @foreach (var item in Model.rooms)
        {   
            <a asp-controller="SelectPage" asp-action="Index" asp-route-id="@item.roomName">
                <button class="roombtn">@item.roomName</button>
            </a>
        }
    </div>
    <div class="text-divider">รายการอุปกรณ์</div>
    <div class="myButton">
        @foreach (var item in Model.tools)
        {
            <a asp-controller="SelectEquipment" asp-action="Index" asp-route-id="@item.toolName">
                <INPUT type="submit" name="sss" value="@item.toolName">
            </a>
        }
    </div>
</div>