@{
    Layout = "_SelectPageLayout";
}
<ul class="navbar">
      <li class="navbarlist"><a class="active" href="#home">Home</a></li>
      <li class="navbarlist"><a href="#news">News</a></li>
      <li class="navbarlist"><a href="#contact">Contact</a></li>
      <li class="navbarlist"><a href="#about">About</a></li>
    </ul>
    <div class="midcontent">
      <p class="pageheader">จองอุปกรณ์</p>
      <div class="text-divider">เลือกห้อง</div>
      <div class="listbutton">
        <button class="roombtn">1</button>
        <button class="roombtn">2</button>
        <button class="roombtn">3</button>
        <button class="roombtn">4</button>
        <button class="roombtn">5</button>
      </div>
      <div class="text-divider">รายการอุปกรณ์</div>
      <div class="myButton">
        <INPUT type="submit" name="sss" value="">
          <INPUT type="submit" name="sss" value="">
            <INPUT type="submit" name="sss" value="">
              <INPUT type="submit" name="sss" value="">
                <INPUT type="submit" name="sss" value="">
                  <INPUT type="submit" name="sss" value="">
      </div>
    </div>