@{
    Layout = "_NeighbourLayout";
}

<div class="neighbour_page">
    <div class="header_txt">
        <h2>Neighbour's Laboratory</h2>
    </div>
    <p>รายชื่อห้องแล็บ</p>
    <div class="card_row">
        <div class="card">
            <p class="room_name">test</p>
        </div>
    </div>
</div>