@{ Layout = "_NeighbourLayout"; }

<div class="neighbour_page">
  <div class="header_txt">
    <h2>Neighbour's Laboratory</h2>
  </div>
  <p>รายชื่อห้องแล็บ</p>
  <div class="card_row">
    <div class="card">
      <p class="room_name">Lab-001</p>
      <p class="room_no">1</p>
      <div class="bot_left">
        <p>Equipment</p>
        <p>Tool-1</p>
      </div>
      <div class="bot_right">
        <p>Quantity</p>
        <p>25</p>
      </div>
      <div class="divider"></div>
    </div>
    <!-- ****************************** -->
    <div class="card">
      <p class="room_name">Lab-002</p>
      <p class="room_no">2</p>
      <div class="bot_left">
        <p>Equipment</p>
        <p>Tool-2</p>
      </div>
      <div class="bot_right">
        <p>Quantity</p>
        <p>25</p>
      </div>
      <div class="divider"></div>
    </div>
    <!-- ****************************** -->
    <div class="card">
      <p class="room_name">Lab-003</p>
      <p class="room_no">3</p>
      <div class="bot_left">
        <p>Equipment</p>
        <p>Tool-3</p>
      </div>
      <div class="bot_right">
        <p>Quantity</p>
        <p>25</p>
      </div>
      <div class="divider"></div>
    </div>
    <!-- ****************************** -->
    <div class="card">
      <p class="room_name">Lab-004</p>
      <p class="room_no">4</p>
      <div class="bot_left">
        <p>Equipment</p>
        <p>Tool-4</p>
      </div>
      <div class="bot_right">
        <p>Quantity</p>
        <p>25</p>
      </div>
      <div class="divider"></div>
    </div>
  </div>
  <button class="visit_btn">เยี่ยมชมเว็บไซต์</button>
</div>
